# Dependencias
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Entorno de producción
/.next
/out

# Entorno de desarrollo
/.vercel
/.idea
/.vscode
*.log

# Archivos de sistema
.DS_Store
*.pem

# Variables de entorno
.env*.local
.env
.next-env

# Depuración
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Misceláneo
.next
.cache
.turbo
dist
*.tsbuildinfo
